# Build output
[Bb]in/
[Oo]bj/
[Oo]ut/

# Visual Studio Code cache/options directory
.vscode/
.vs

# Visual Studio user-specific files
**/launchSettings.json
**/*.user

# ImageBuilder directory
.ImageBuilder

# dotnet install directory
.dotnet/

# Test files
*.trx
