<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="dotnet-corefxlab" value="https://dotnet.myget.org/F/dotnet-corefxlab/" />
    <!-- temporary workaround for https://github.com/dotnet/docker-tools/issues/154 -->
    <add key="local-source" value="packages" />
  </packageSources>
</configuration>
